<app-page *ngIf="offer" [top]="true" [page]="'fixed'" [error]="error" [loading]="loading">
   <div top class="top-container">
      <h1><span>Noter gardien : </span>{{offer.title + " - " + (offer.publicationDate | date:'dd/MM/YYYY')}}</h1>
      <app-button text="Retour" [routerLink]="'/offers/details/' + offer.id"></app-button>
      <a class="button-back-mobile" routerLink="/home"></a>
   </div>
   <form [formGroup]="ratingForm" (ngSubmit)="onSubmit()" content class="content-container">
      <div class="input-container">
         <label>Note :</label>
         <input type="text" placeholder="5" [(ngModel)]="rating" name="rating" formControlName="rating" (input)="onInput()"/>
         <p class="error" *ngIf="ratingForm.invalid && (ratingForm.dirty || ratingForm.touched) && this.errors['rating']">{{this.errors['rating']}}</p>
      </div>
      <app-button text="Valider" type="submit"></app-button>
   </form>
</app-page>
