@import '../../../../../styles.scss';

.top-container{
   display: flex;
   align-items: center;

   h1{
      width: 55vw;
      margin-left: 15vw;
      text-align: center;
   }
}

form{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1vw;

   .row-container{
      width: 100%;
      height: 12vh;
      display: flex;
      justify-content: space-between;

      .input-container{
         width: 45%;
      }
   }
}  

.button-back-mobile{
   display: none;
}

@media screen and (max-width: 800px) {
   .container {
      height: auto;
      margin-bottom: 5vh;

      .top-container {
         padding-top: 5vh;
         
         h1 {
            font-size: 6vw;
            margin: 0;
         }
   
         .button-back-desktop {
            display: none;
         }

         .button-back-mobile {
            margin-left : 5%;
            display: unset;
            width: 12.75vw;
            height: 12.75vw;
            background-image: url(/assets/icons/arrow_back.svg);
            background-repeat: no-repeat;
            background-color: $blue-color;
            border-radius: 10px;
            background-size: contain;
            filter: drop-shadow(2px 6px 2px $shadow-color);
            
         }
      }
   
      .main-container {
         height: auto;
         padding-top: 5vh;
         padding-bottom: 5vh;
   
         .image-container {
            display: none;
         }
      
         .text-container {
            width: 100%;
            margin: 0;
            height: 100%;
            justify-content : space-between;
            gap : 5vh;
            
            form {
               width: 80%;
               gap: 3vh;

               .row-container {
                  flex-direction: column;
                  gap: 3vh;
                  width: 100%;

                  .input-container {
                     font-size: 3vw;
                     width: 100%;
                  }  
               }
            }
            
            button {
               height: 5vh;
               width: 50%;
            }
         }
      }
   }
}

a {
   text-decoration: none;
   color: $black-color;
}

a:hover {
   color : $blue-color;
}