<app-page [top]="true" [page]="'fixed'" imageSrc="/assets/images/profil.svg" imagePosition="right" imageSize="medium" [error]="error" [loading]="loading">
   <div top class="top-container">
      <button class="button-back-mobile"></button>
      <h1>Editer mon profil</h1>
      <app-button text="Retour" routerLink="/profile"></app-button>
   </div>
   <form content *ngIf="editedUser" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row-container">
            <div class="input-container">
               <label>Nom :</label>
               <input type="text" placeholder="Nom" [(ngModel)]="editedUser.lastName" name="lastName" formControlName="lastName" (input)="onInput()"/>
               <p class="error" *ngIf="userForm.invalid && (userForm.dirty || userForm.touched) && this.errors['lastName']">{{this.errors['lastName']}}</p>
            </div>
            <div class="input-container">
               <label>Prénom :</label>
               <input type="text" placeholder="Prénom" [(ngModel)]="editedUser.firstName" name="firstName" formControlName="firstName" (input)="onInput()"/>
               <p class="error" *ngIf="userForm.invalid && (userForm.dirty || userForm.touched) && this.errors['firstName']">{{this.errors['firstName']}}</p>
            </div>
         </div>
         <div class="row-container">
            <div class="input-container">
               <label>Pseudo :</label>
               <input type="text" placeholder="Pseudo" [(ngModel)]="editedUser.username" name="username" formControlName="username" (input)="onInput()"/>
               <p class="error" *ngIf="userForm.invalid && (userForm.dirty || userForm.touched) && this.errors['username']">{{this.errors['username']}}</p>
            </div>
            <div class="input-container">
               <label>Telephone :</label>
               <input type="text" placeholder="Telephone" [(ngModel)]="editedUser.phone" name="telephone" formControlName="phone" (input)="onInput()"/>
               <p class="error" *ngIf="userForm.invalid && (userForm.dirty || userForm.touched) && this.errors['phone']">{{this.errors['phone']}}</p>
            </div>
         </div>
         <div class="row-container">
            <div class="input-container">
               <label>Nouveau mot de passe :</label>
               <input type="password" placeholder="Mot de passe" [(ngModel)]="editedUser.password" name="password" formControlName="password" (input)="onInput()"/>
               <p class="error" *ngIf="userForm.invalid && (userForm.dirty || userForm.touched) && this.errors['password']">{{this.errors['password']}}</p>
            </div>
            <div class="input-container">
               <label>Confirmer mot de passe :</label>
               <input type="password" placeholder="Mot de passe" [(ngModel)]="editedUser.confirmPassword" name="confirmPassword" formControlName="confirmPassword" (input)="onInput()"/>
               <p class="error" *ngIf="userForm.invalid && (userForm.dirty || userForm.touched) && this.errors['confirmPassword']">{{this.errors['confirmPassword']}}</p>
            </div>
         </div>
         <div class="row-container">
            <div class="input-container">
               <label>Adresse email :</label>
               <input type="email" placeholder="Adresse email" [(ngModel)]="editedUser.email" name="email" formControlName="email" (input)="onInput()"/>
               <p class="error" *ngIf="userForm.invalid && (userForm.dirty || userForm.touched) && this.errors['email']">{{this.errors['email']}}</p>
               <p class="error" *ngIf="errors['edit']">{{this.errors['edit']}}</p>
            </div>
         </div>
         <app-button text="valider" type="submit"></app-button>
   </form>
</app-page>