<form [formGroup]="offerForm" (ngSubmit)="onSubmit()">
    <app-page [top]="true" [page]="'scroll'" [imageSize]="'small'" imageSrc="/assets/images/upload.svg" [imagePosition]="'right'" [loading]="loading" [error]="error">
        <div top class="top-container">
            <button class="button-back-mobile" routerLink="/welcome" ></button>
            <h1>Ajouter une offre</h1>
            <app-button text="Retour" routerLink="/myoffers"></app-button>
        </div>
        <div content class="content-container offer">
            <div class="input-container">
                <label>Titre :</label>
                <input type="text" placeholder="Titre"  [(ngModel)]="offer.title" name="title" formControlName="title" (input)="onInput()"/>
                <p class="error" *ngIf="offerForm.invalid && (offerForm.dirty || offerForm.touched) && this.errors['title']">{{this.errors['title']}}</p>
            </div>
            <div class="input-container textarea">
                <label>Description :</label>
                <textarea placeholder="Description"  [(ngModel)]="offer.description" name="description" formControlName="description" (input)="onInput()" ></textarea>
                <p class="error" *ngIf="offerForm.invalid && (offerForm.dirty || offerForm.touched) && this.errors['description']">{{this.errors['description']}}</p>
            </div>
            <div class="row-container">
                <div class="input-container">
                    <label>Date de début :</label>
                    <input type="date" placeholder="Date de début"  [(ngModel)]="offer.startDate" name="startDate" formControlName="startDate" (input)="onInput()"/>
                    <p class="error" *ngIf="offerForm.invalid && (offerForm.dirty || offerForm.touched) && this.errors['startDate']">{{this.errors['startDate']}}</p>
                </div>
                <div class="input-container">
                    <label>Date de fin :</label>
                    <input type="date" placeholder="Date de fin"  [(ngModel)]="offer.endDate" name="endDate" formControlName="endDate" (input)="onInput()"/>
                    <p class="error" *ngIf="offerForm.invalid && (offerForm.dirty || offerForm.touched) && this.errors['endDate']">{{this.errors['endDate']}}</p>
                </div>
            </div>
            <div class="input-tags">
                <label>Type de plante :</label>
                <app-search-tags [allTags]="allPlants" [error]="offerForm.invalid && (offerForm.dirty || offerForm.touched) && this.errors['plants'] ? this.errors['plants'] : undefined" barPosition="start" (tagsChange)="modifyArray($event, 'plants')"></app-search-tags>
            </div>
            <div class="input-tags">
                <label>Tags :</label>
                <app-search-tags [allTags]="allTags" barPosition="start" [error]="offerForm.invalid && (offerForm.dirty || offerForm.touched) && this.errors['tags'] ? this.errors['tags'] : undefined" (tagsChange)="modifyArray($event, 'tags')"></app-search-tags>
            </div>
        </div>
    </app-page>
    <app-pictures title="Ajouter des photos" [editable]="true" (imagesChange)="onPicturesChange($event)" [errorMessage]="offerForm.invalid && (offerForm.dirty || offerForm.touched) && this.errors['medias'] ? this.errors['medias'] : undefined"></app-pictures>
    <app-page [imagePosition]="'left'" [imageSize]="'small'" [page]="'fixed'" [imageSrc]="'/assets/images/location.svg'" [top]="true" [loading]="loading">
        <div top class="top-container">
            <h1 class="bot">Addresse</h1>
        </div>
        <div content class="content-container address">
            <div class="row-container">
                <div class="input-container">
                    <label>Pays :</label>
                    <select (change)="onSelectCountry($event)">
                        <option value="">Sélectionnez un pays</option>
                        <option *ngFor="let c of countries" >{{c.name}}</option>
                    </select>
                    <p class="error" *ngIf="offerForm.invalid && (offerForm.dirty || offerForm.touched) && this.errors['country']">{{this.errors['country']}}</p>
                </div>
                <div class="input-container">
                    <label>Ville :</label>
                    <input type="text" placeholder="Ville"  [(ngModel)]="offer.address.city" name="city" formControlName="city" (input)="onInput()"/>
                    <p class="error" *ngIf="offerForm.invalid && (offerForm.dirty || offerForm.touched) && this.errors['city']">{{this.errors['city']}}
                </div>             
            </div>
            <div class="row-container">
                <div class="input-container">
                    <label>Code postal :</label>
                    <input type="text" placeholder="Code de postal" [(ngModel)]="offer.address.postalCode" name="postalCode" formControlName="postalCode" (input)="onInput()"/>
                    <p class="error" *ngIf="offerForm.invalid && (offerForm.dirty || offerForm.touched) && this.errors['postalCode']">{{this.errors['postalCode']}}</p>
                </div>
            </div>
            <app-button text="Valider" type="submit" [style.align-self]="'end'"></app-button>
        </div>
    </app-page>
</form>