<app-page [top]="true" [page]="'scroll'" [imageSize]="'none'" [loading]="loading" [error]="error">
    <div top *ngIf="offer && user && offer.publisher.id !== user.id && (!offer.keeper || (offer.keeper && offer.keeper.id !== user.id))" class="top-container">
        <button class="button-back-mobile" routerLink="/welcome"></button>
        <app-button text="Voir l'utilisateur" [routerLink]="'/profile/' + offer.publisher.id"></app-button>
        <app-button *ngIf="!offer.keeper" text="Proposer de garder" (click)="keepOffer()"></app-button>
        <app-button *ngIf="!offer.keeper" text="Envoyer un message" (click)="sendMessage()"></app-button>
        <app-button routerLink="/offers" text="Retour"></app-button>
    </div>
    <div top *ngIf="offer && user && offer.publisher.id === user.id" class="top-container">
        <a class="button-back-mobile" routerLink="/myoffers"></a>
        <app-button text="Modifier" [routerLink]="'/offers/edit/' + offer.id"></app-button>
        <a class="button-back-mobile modify a-thin fa-pen" routerLink="/myoffers"></a>
        <app-button *ngIf="offer.keeper" text="Noter gardien" [routerLink]="'/offers/rating/' + offer.id"></app-button>
        <app-button text="Supprimer" [delete]="true" (click)="deleteOffer() "></app-button>
        <app-button text="Retour" routerLink="/myoffers"></app-button>
        <a class="button-back-mobile rate" routerLink="/myoffers"></a>
        <a class="button-back-mobile delete" routerLink="/myoffers"></a>
    </div>
    <div top *ngIf="offer && user && offer.keeper && offer.keeper.id === user.id" class="top-container">
        <app-button text="Voir l'utilisateur" [routerLink]="'/profile/' + offer.publisher.id"></app-button>
        <app-button text="Retour" class="m40" routerLink="/myoffers"></app-button>
    </div>
    <div content *ngIf="offer && publisherMedias && publisher && coordinates" class="content-container">
        <h1>{{offer.title}}</h1>
        <div >
            <p class="title">Description :</p>
            <p>{{offer.description}}</p>
        </div>
        <div >
            <p class="title">Date :</p>
            <p>
                <span>Début : </span>{{ offer.startDate | date:'dd/MM/yyyy' }}
                <ng-container *ngIf="offer.endDate">
                    - <span>Fin :</span> {{ offer.endDate | date:'dd/MM/yyyy' }}
                </ng-container>
            </p>
        </div>
        <div>
            <p class="title">Types de plantes :</p>
            <div class="tiles-container">
                <div class="tile" *ngFor="let plant of offer.plants.slice(0, 20)">
                    <p>{{plant.name}}</p>
                </div>
            </div>
        </div>
        <div>
            <p class="title">Tags :</p>
            <div class="tiles-container">
                <div class="tile" *ngFor="let tag of offer.tags.slice(0, 20)">
                    <p>{{tag.name}}</p>
                </div>
            </div>
        </div>
        <app-pictures [pictures]="publisherMedias" title="Les photos" [button]="auth.user?.roles?.includes('ROLE_BOTANIST') ? true : false" (comment)="this.router.navigate(['/offers/advice/' + $event]);"></app-pictures>
        <app-pictures *ngIf="keeperMedias && keeperMedias.length > 0" [pictures]="keeperMedias" title="Les photos prises par le gardien" [button]="auth.user?.roles?.includes('ROLE_BOTANIST') ? true : false" (comment)="this.router.navigate(['/offers/advice/' + $event])"></app-pictures>
        <app-pictures *ngIf="offer && user && offer.keeper && offer.keeper.id === user.id" [editable]="true" [validate]="true" title="Ajouter des photos" (validateChange)="addPictures($event)"></app-pictures>
        <div class="bot-container">
            <div>
                <div>
                    <p class="title">Localisation :</p>
                    <p> 
                        {{ offer.address.city + ", " + offer.address.postalCode}}<br>
                        {{offer.address.country }}
                        
                    </p>
                </div>
                <div>
                    <p class="title">Coordonnées :</p>
                    <p>
                        {{this.offer.publisher.firstName + " " + this.offer.publisher.lastName}}<br>
                        {{"Téléphone : " + this.publisher.phone}}<br>
                        {{"Email : " +  this.publisher.email}}
                    </p>
                </div>
            </div>
            <div class="right">
                <p class="title">Localisation des plantes :</p>
                <app-map class="map" *ngIf="coordinates" [coordinates]="coordinates"></app-map>
            </div>
        </div>
    </div>
</app-page>