@import '../../../../../styles.scss';

.top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .m40 {
        margin-left: 40%;
    }

    .m20 {
        margin-left: 20%;
    }
}

.content-container{
    display: flex;
    flex-direction: column;
    gap: 5vh;

    div{
        .title{
            font-weight: bold;
            font-size: 1.3vw;
            margin-bottom: 1vh;
        }

        p{
            font-size: 1.1vw;

            span{
                font-weight: bold;
            }
        }

        .tiles-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1vw;

            .tile {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                height: 5vh;
                background-color: $white-color;
                filter: drop-shadow(2px 6px 2px $shadow-color);
                padding: 0 0.5vw;
                margin-bottom: 1vh;
            }
        }
    }

    .bot-container{
        display: flex;

        div{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;

            div {
                display: flex;
                flex-direction: column;
            }
        }

        .right{
            align-items: center;
            gap: 3vh;

            .map {
                width: 100%;
                height: 45vh;
            }
        }
    }
}

.mobile{
    display: none;
}

.button-back-mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .parent {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 0.5em;
    }

    .btn{
        width: 50vw;
    }
    
    .image-container{
        display: none;
    }
    .image-container-second{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .container-second{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "text-container";
    }
    .input-container{
        display: flex;
        flex-direction: column;
    }
    .back{
        width: 35vw;
    }
    .computer{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .display-flex{
        flex-direction: column;

    }
    .back{
        margin: 0;
    }
    .align-end{
        align-items: end;
        flex-direction: row;
    }
    img{
        width: 100%;
    }
    .advice{
        width: 70vw;
    }
    .button-back-mobile {
        margin-left : 5%;
        display: unset;
        width: 12.75vw;
        height: 12.75vw;
        background-image: url(/assets/icons/arrow_back.svg);
        background-repeat: no-repeat;
        background-color: $blue-color;
        border-radius: 10px;
        background-size: contain;
        align-self: center;
     }
     #desktop{
        display: none;
     }
    
}


a{
    text-decoration: none;
    color: $black-color;
}