@import '../../../../styles.scss';

button{
   background-color: $blue-color;
   border: none;
   padding: 2vh 2vw;
   min-width: 15vw;
   color: $white-color;
   border-radius: 5px;
   filter: drop-shadow(2px 6px 2px $shadow-color);
   font-size: 1vw;
   text-decoration: none;
}

button:hover{
   background-color: $valid-button; 
   cursor: pointer;
}

.button-delete{
   background-color: $delete-button-hover;
}

.button-delete:hover{
   background-color: $delete-button;
}