@import '../../../../../styles.scss';


.content-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1{
        font-size: 1.5vw;
    }

    form{
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1vw;
    
        .row-container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            .checkbox-container{
                height: 8vh;
                display: flex;
                flex-direction: column;
                
                div{
                    display: flex;
                    gap : 1vw;

                    .checkbox{
                        width: 1.75vw;
                        margin-left: 1vw;
                    }

                    p{ 
                        font-size: 0.7vw;
                    }
                }
            }

            .input-container{
                width: 45%;
                height: 10.5vh;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .container {
        height : auto;
        margin-bottom: 5vh;

        .image-container {
            display: none;
        }

        .text-container {
            margin: 0;
            margin-top: 5vh;
            width: 100%;
            gap : 5vh;
            justify-content : space-between;

            h1 {
                font-size: 6vw;
            }

            form {
                width: 80%;
                gap : 3vh;

                .row-container {
                    width: 100%;
                    flex-direction: column;
                    gap : 3vh;

                    .input-container-checkbox {
                        .checkbox {
                            width: 20vw;
                            height: 20vw;
                        }
    
                        p {
                            font-size: 2.5vw;
                        }
                    }

                    .input-container {
                        font-size: 3vw;
                        width: 100%;
                    }  
                }
            }

            .bottom-link {
                font-size: 4vw;
                margin-bottom: 5vh;
            }
        }
    }
}

a{
    text-decoration: none;
    color: $black-color;
}

a:hover {
    color : $blue-color;
}