<app-page [imagePosition]="'left'" [imageSize]="'medium'" [imageSrc]="'/assets/images/flower.svg'" [top]="false" [loading]="loading">
    <div content class="content-container">
        <h1>Inscription</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row-container">
                <div class="input-container">
                    <label>Nom :</label>
                    <input type="text" placeholder="Nom" [(ngModel)]="informations.lastName" name="lastName" formControlName="lastName" (input)="onInput()"/>
                    <p class="error" *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched) && this.errors['lastName']">{{this.errors['lastName']}}</p>
                </div>
                <div class="input-container">
                    <label>Prénom :</label>
                    <input type="text" placeholder="Prénom" [(ngModel)]="informations.firstName" name="firstName" formControlName="firstName" (input)="onInput()"/>
                    <p class="error" *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched) && this.errors['firstName']">{{this.errors['firstName']}}</p>
                </div>
            </div>
            <div class="row-container">
                <div class="input-container">
                    <label>Pseudo :</label>
                    <input type="text" placeholder="Pseudo" [(ngModel)]="informations.username" name="username" formControlName="username" (input)="onInput()"/>
                    <p class="error" *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched) && this.errors['username']">{{this.errors['username']}}</p>
                </div>
                <div class="input-container">
                    <label>Adresse email :</label>
                    <input type="email" placeholder="Adresse email"  [(ngModel)]="informations.email" name="email" formControlName="email" (input)="onInput()"/>
                    <p class="error" *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched) && this.errors['email']">{{this.errors['email']}}</p>
                </div>
            </div>
            <div class="row-container">
                <div class="input-container">
                    <label>Mot de passe :</label>
                    <input type="password" placeholder="Mot de passe"  [(ngModel)]="informations.password" name="password" formControlName="password" (input)="onInput()"/>
                    <p class="error" *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched) && this.errors['password']">{{this.errors['password']}}
                </div>
                <div class="input-container">
                    <label>Confirme le mot de passe :</label>
                    <input type="password" placeholder="Mot de passe"  [(ngModel)]="informations.confirmPassword" name="confirmPassword" formControlName="confirmPassword" (input)="onInput()"/>
                    <p class="error" *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched) && this.errors['confirmPassword']">{{this.errors['confirmPassword']}}
                </div>
            </div>
            <div class="row-container">
                <div class="input-container">
                    <label>Telephone :</label>
                    <input type="text" placeholder="Telephone"  [(ngModel)]="informations.phone" name="phone" formControlName="phone" (input)="onInput()"/>
                    <p class="error" *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched) && this.errors['phone']">{{this.errors['phone']}}
                </div>
            </div>
            <div class="row-container">
                <div class="checkbox-container">
                    <div>
                        <input type="checkbox" class="checkbox" [(ngModel)]="check" name="check" formControlName="check" (change)="onInput()" />
                        <p>En soumettant ce formulaire, j’accepte que mes informations soient utilisées exclusivement dans le cadre de ma demande et de la relation commerciale éthique et personnalisée qui pourrait en découler si je le souhaite.</p>
                    </div>
                    <p class="error" *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched) && this.errors['check']" >{{this.errors['check']}}</p>
                    <p class="error" *ngIf="errors['register']">{{this.errors['register']}}</p>
                </div>
            </div>
            <app-button text="Inscription" type="submit"></app-button>
        </form>
        <p>Vous avez déja un compte ? <a routerLink="/login">Connectez-vous !</a></p>
    </div>
</app-page>
