@import '../../../../../styles.scss';

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5vh;

    .top-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .bot {
            margin-left: 35%;
            width: 65%;
            text-align: left;
            border-top: 3px solid $brown-color;
            padding-top: 5vh;
        }
    }
    
    .content-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1vw;
        
        &.address {
            margin-top: 5vh;
        }

        &.offer {
            border-bottom: 3px solid $brown-color;
        }
    
        .input-container {
            width: 45%;
    
            &.textarea {
                width: 100%;
                min-height: 15vh;
    
                textarea {
                    height: 7.5vh;
                    resize: none;
                }
            }

            select {
                height: 3.5vh;
            }   
        }
    
        .input-tags {
            display: flex;
            flex-direction: column;
            gap: 1vh;
        }
    
        .row-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2%;
        }
    }
}
    
.mobile{
    display: none;
}

.button-back-mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .parent {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .btn{
        width: 50vw;
    }
    
    .image-container{
        display: none;
    }
    .image-container-second{
        display: none;
    }
    .container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "text-container";
        width: 90%;
    }
    
    .container-second{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "text-container";
        width: 90%;
    }
    .input-container{
        display: flex;
        flex-direction: column;
    }
    .back{
        width: 35vw;
    }
    .computer{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .button-back-mobile {
        margin-left : 5%;
        display: unset;
        width: 12.75vw;
        height: 12.75vw;
        background-image: url(/assets/icons/arrow_back.svg);
        background-repeat: no-repeat;
        background-color: $blue-color;
        border-radius: 10px;
        background-size: contain;
        cursor: pointer;
     }
     #desktop{
        display: none;
     }
     .mobile{
        display: true;
     }
     .mobile-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    h1 {
        font-size: medium;
    }
    input[type="text"] {
        width: 100%;
     }
     textarea{
        width: 100%;
        height: 15vh;
    }
    form {
        width: 100%;
        gap : 3vh;
        .row-container {
            width: 100%;
            flex-direction: column;
        }
    }
    .input-container {
        font-size: 5vw;
        width: 100%;
    }  
    .input-textarea{
        font-size: 5vw;
    }
}


a{
    text-decoration: none;
    color: $black-color;
}