    <app-page [top]="true" [page]="'scroll'">
    <div top class="top-container">
        <h1>Mentions légales</h1>
        <app-button text="Retour" routerLink="/home"></app-button>
        <a class="button-back-mobile" routerLink="/home"></a>
    </div>
    <div content class="content-container">
        <p>Bienvenue sur l'application a-rosa-je. Avant d'utiliser notre application, veuillez prendre connaissance des mentions légales suivantes :</p>
        <h2>1. Collecte et Utilisation des Informations Personnelles :</h2>
        <p>L'application a-rosa-je collecte certaines informations personnelles lorsque vous créez un compte et utilisez nos services
            de gardiennage de plantes. Les informations collectées peuvent inclure votre nom,
            prénom, adresse e-mail, numéro de téléphone, adresse postale, ainsi que des photos géolocalisées de vos plantes.
            Ces données sont utilisées dans le but de faciliter la communication entre les utilisateurs et les gardiens de plantes, 
            ainsi que pour assurer la sécurité et la géolocalisation des plantes confiées.</p>
        <h2>2. Protection des Données Personnelles :</h2>
        <p>a-rosa-je s'engage à protéger vos données personnelles et à les utiliser uniquement dans le cadre de nos services 
            de gardiennage de plantes. Nous ne partagerons pas vos informations avec des tiers sans votre consentement préalable,
            sauf dans les cas prévus par la loi.</p>
        <h2>3. Sécurité des Données :</h2>
        <p>Nous mettons en place des mesures de sécurité techniques et organisationnelles appropriées pour protéger vos données personnelles
            contre tout accès non autorisé, toute divulgation, toute altération ou toute destruction accidentelle.</p>
        <h2>4. Consentement :</h2>
        <p>En utilisant notre application et en fournissant vos informations personnelles, vous consentez à la collecte,
            au traitement et à l'utilisation de vos données conformément à la présente politique de confidentialité.</p>
        <h2>5. Modification et Suppression des Données :</h2>
        <p>Vous pouvez à tout moment accéder à vos informations personnelles, les modifier ou les supprimer en accédant à
            votre compte sur l'application a-rosa-je. Si vous rencontrez des difficultés ou si vous avez des questions
            concernant la gestion de vos données, veuillez nous contacter à l'adresse suivante : contact&#64;a-rosa-je.com.</p>
        <h2>6. Modifications de la Politique de Confidentialité :</h2>
        <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification 
            sera publiée sur cette page et entrera en vigueur immédiatement après sa publication.</p>
        <h2>7. Contact :</h2>
        <p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité 
            ou nos pratiques en matière de traitement des données, veuillez nous contacter à l'adresse suivante 
            :Rue Fernand Robert, 35000 Rennes, FranceE-mail : contact&#64;a-rosa-je.com</p>
    </div>
</app-page>