@import '../../../../styles.scss';

.tile {  
   width : 84vw;
   margin-left: 5vw;
   background-color: $light-brown-color;
   border-radius: 10px;
   filter: drop-shadow(2px 6px 2px $shadow-color);
   padding: 5vh 3vw;
}