@import '../../../../../styles.scss';
.button-back-mobile{
   display: hidden;
}

.top-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.content-container{
   font-size: 1vw;
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
   align-items: end;

   img {
      height: 10vh;
      width: 10vh;
      background-color: red;

   }

   .input-container{
      width: 50%;
      align-self: baseline;
      min-height: 15vh;

      textarea {
         height: 7.5vh;
         resize: none;
      }
   }
}

.button-back-mobile {
   display: none;
}

@media screen and (max-width: 800px) {
   .container {
      margin-bottom: 5vh;

      .top-container {
         padding-top: 5vh;

         h1 {
            font-size: 6vw;
            margin: 0;
         }
         .regular{
            display: none;
         }
         .button-back-desktop {
            display: none;
         }

         .button-back-mobile {
            margin-left : 5%;
            display: unset;
            width: 12.75vw;
            height: 12.75vw;
            background-image: url(/assets/icons/arrow_back.svg);
            background-repeat: no-repeat;
            background-color: $blue-color;
            border-radius: 10px;
            background-size: contain;
         }
      }
   
      .main-container {
         height: auto;
         padding-top: 5vh;
         padding-bottom: 5vh; 
         width: 90%;
         align-items: center;
         gap : 5vh;
         
         .input-container {
            align-self: unset;
            width: 100%;
            font-size: 4vw;
         }
   
         button {
            align-self: unset;
            width: 60%;
            height: 4vh;
         }
      }
   }
}

a {
   text-decoration: none;
   color: $black-color;
}

a:hover {
   color : $blue-color;
}