<app-page *ngIf="media" [top]="true" [page]="'fixed'" [error]="error" [loading]="loading">
   <div top class="top-container">
      <h1>Ajouter un conseil sur la photo :</h1>
      <app-button text="Retour" [routerLink]="'/offers/details/' + media.offer.id"></app-button>
      <a class="button-back-mobile" routerLink="/home"></a>
   </div>
   <form [formGroup]="adviseForm" (ngSubmit)="onSubmit()" content class="content-container">
      <!-- <img [src]="processURL(media.image)"  /> -->
      <div class="input-container">
         <label>Conseil :</label>
         <textarea placeholder="conseil..." [(ngModel)]="advise" name="rating" formControlName="advise" (input)="onInput()"></textarea>
         <p class="error" *ngIf="adviseForm.invalid && (adviseForm.dirty || adviseForm.touched) && this.errors['advise']">{{this.errors['advise']}}</p>
      </div>
      <app-button text="Valider" type="submit"></app-button>
   </form>
</app-page>
