@import '../../../../../styles.scss';

.top-container{
   display: flex;
   align-items: center;

   h1{
      width: 55vw;
      margin-left: 15vw;
      text-align: center;
   }
}

::-webkit-scrollbar {
   width: 0px;
   height: 0px;
}

/* Pour Firefox */
* {
   scrollbar-width: none; /* masque la scrollbar */
   -ms-overflow-style: none;  /* masque la scrollbar pour IE et Edge */
}

.content-container {
   display: flex;
   justify-content: space-between;
   height: 100%;

   .conversations-container {
      width: 40%;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      border-radius: 10px; 
      gap: 2%;
      
      .conversation {
         border-radius: 10px;
         height: 20%;
         padding: 1vw;
         background-color: $white-color;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         filter: drop-shadow(2px 6px 2px $shadow-color);

         .username {
            font-weight: 700;
         }

         .date {
            align-self: flex-end;
            font-size: 0.8vw;
         }

         .message {
            font-style: italic;
         }

         &.selected {
            background-color: $blue-color;
            color: white;
         }
      }

      .conversation:hover {
         background-color: $blue-color;
         cursor: pointer;

         p {
            color: white;
         }
      }
   }

   .chat-container {
      width: 50%;
      height: 100%;
   }
}

.button-back-mobile {
   display: none;
}

@media screen and (max-width: 800px) {
   .container {
      .top-container {
         h1 {
            font-size: 6vw;
            margin: 0;
         }
   
         .button-back-desktop {
            display: none;
         }

         .button-back-mobile {
            margin-left : 5%;
            display: unset;
            width: 12.75vw;
            height: 12.75vw;
            background-image: url(/assets/icons/arrow_back.svg);
            background-repeat: no-repeat;
            background-color: $blue-color;
            border-radius: 10px;
            background-size: contain;
         }
      }
   }
}

a {
   text-decoration: none;
   color: $black-color;
}

a:hover {
   color : $blue-color;
}