<app-page [top]="true" [page]="'fixed'">
   <div top class="top-container">
      <button class="button-back-mobile" routerLink="/welcome" ></button>
      <h1>Messagerie</h1>
      <app-button text="Retour" routerLink="/welcome" ></app-button>
   </div>
   <div content class="content-container">
      <div class="conversations-container">
         <div *ngFor="let conversation of conversations" class="conversation" [ngClass]="{'selected' : conversation.contactId === contact?.id}" (click)="contact = {id : conversation.contactId, username : conversation.contactUsername}" >
            <p class="username">{{conversation.contactUsername}}</p>
            <p class="message">{{conversation.resumeContent}}</p>
            <p class="date">{{conversation.sentAt | date:'dd MMMM yyyy'}} {{conversation.sentAt | date:'HH:mm'}}</p>
         </div>
      </div>
      <div class="chat-container">
         <app-chat *ngIf="contact" [contact]="contact"></app-chat>
      </div>
   </div>
</app-page>
