@import '../../../../../styles.scss';

.container {
   width : 85vw;
   margin-left: 7.5vw;
   height: 80vh;
   background-color: $light-brown-color;
   border-radius: 10px;
   filter: drop-shadow(2px 6px 2px $shadow-color);
   display: flex;
   flex-direction: column;
   align-items: center;

   .top-container {
      width: 100%;
      display: flex;
      height: 20%;
      align-items: center;
      justify-content: space-between;

      h1 {
         margin: 0;
         margin-left: 5%;
         padding: 0;
         text-align: center;
         font-size: 1.5vw;
      }

      .button-back-desktop {
         margin-right: 5%;
         width: 15%;
         height: 35%;
         background-color: $blue-color;
         border-radius: 5px;
         border : none;
         color : white;
      }

      .button-back-mobile {
         display: none;
      }

      button:hover {
         background-color: $valid-button;
      }
   }

   .main-container {
      width: 50%;
      display: flex;
      height: 70%;
      align-items: center;
      flex-direction: column;

      h2 {
         font-size: 1.5vw;
      }

      .request-container {
         width: 100%;
         display: flex;
         flex-direction: column;
         overflow-y: scroll;
         scrollbar-width: thin;
         gap : 2vh;

         .request {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .proposition-container {
               width: 70%;
               background-color: $blue-color;
               border-radius: 5px;

               p {
                  text-align: center;
                  color: white;
               }
            }

            .refuse-button {
               width: 4vh;
               height: 4vh;
               background-color: $delete-button;
               padding: 0.5vh;
               margin: 0;
               border: none;

               .refuse {
                  width: 3vh;
                  height: 3vh;
                  background-image: url(/assets/icons/close.svg);
                  background-repeat: no-repeat;
                  background-size: contain;
                  border: none;
                  margin: 0;
               }
            }

            .accept-button {
               width: 4vh;
               height: 4vh;
               background-color: $valid-button;
               padding: 0.5vh;
               margin: 0;
               border: none;

               .accept {
                  width: 3vh;
                  height: 3vh;
                  background-image: url(/assets/icons/validate.svg);
                  background-repeat: no-repeat;
                  background-size: contain;
                  border: none;
                  margin: 0;
               }
            }

            .accept-button:hover {
               padding: 0;

               .accept {
                  width: 4vh;
                  height: 4vh;
               }
            }

            .refuse-button:hover {
               padding: 0;

               .refuse {
                  width: 4vh;
                  height: 4vh;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 800px) {
   .container {
      height: auto;
      margin-bottom: 5vh;

      .top-container {
         padding-top: 5vh;

         h1 {
            font-size: 6vw;
            margin: 0;
         }
   
         .button-back-desktop {
            display: none;
         }

         .button-back-mobile {
            margin-left : 5%;
            display: unset;
            width: 12.75vw;
            height: 12.75vw;
            background-image: url(/assets/icons/arrow_back.svg);
            background-repeat: no-repeat;
            background-color: $blue-color;
            border-radius: 10px;
            background-size: contain;
         }
      }
   
      .main-container {
         height: auto;
         padding-top: 5vh;
         padding-bottom: 5vh; 
         width: 90%;
   
         
         h2 {
            font-size: 5vw;
         }
   
         .request-container {
            .request {
               .proposition-container {
                  width: 60%;
               }
            }
         }
      }
   }
}

a {
   text-decoration: none;
   color: $black-color;
}

a:hover {
   color : $blue-color;
}