<div class="container">
   <div class="top-container">
      <button class="button-back-mobile"></button>
      <h1>Garde plantes de 09/01/2024 au 17/01/2024</h1>
      <button class="button-back-desktop">Retour</button>
   </div>
   <div class="main-container">
      <h2>Liste des propositions de garde :</h2>
      <div class="request-container">
         <div *ngFor="let i of [0, 1, 2, 3, 4, 5]" class="request">
            <div class="proposition-container">
               <p>Michelle smith : 4/5</p>
            </div>
            <button class="accept-button">
               <div class="accept"></div>
            </button>
            <button class="refuse-button">
               <div class="refuse"></div>
            </button>
         </div>
      </div>
   </div>
</div>
<app-footer></app-footer>