@import '../../../../../styles.scss';

.container {
   width : 85vw;
   margin-left: 7.5vw;
   height: 80vh;
   background-color: $light-brown-color;
   border-radius: 10px;
   filter: drop-shadow(2px 6px 2px $shadow-color);
   display: flex;
   flex-direction: column;
   align-items: center;

   .top-container {
      width: 100%;
      display: flex;
      height: 20%;
      align-items: center;
      justify-content: space-between;

      h1 {
         margin: 0;
         margin-left: 5%;
         padding: 0;
         text-align: center;
         font-size: 1.5vw;

         .regular {
            font-weight: normal;
         }
      }

      .button-back-desktop {
         margin-right: 5%;
         width: 15%;
         height: 35%;
         background-color: $blue-color;
         border-radius: 5px;
         border : none;
         color : white;
      }

      .button-back-mobile {
         display: none;
      }

      button:hover {
         background-color: $valid-button;
      }
   }

   .main-container {
      width: 90%;
      display: flex;
      height: 70%;
      flex-direction: column;
      justify-content: space-between;

      .input-container {
         align-self: start;
         height: 20%;
         width: 20%;
         display: flex;
         flex-direction: column;
         align-items: baseline;
         justify-content: space-between;
         font-size: 1vw;

         input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
         }

         button {
            margin-right: 5%;
            width: 100%;
            height: 40%;
            background-color: $blue-color;
            border-radius: 5px;
            border : none;
            color : white;
         }

         button:hover {
            background-color: $valid-button;   
         }
      }

      button {
         align-self: end;
         width: 15%;
         height: 10%;
         background-color: $blue-color;
         border-radius: 5px;
         border : none;
         color : white;
         background-color: #57B894;
      }

      button:hover {
         background-color: $valid-button;
      }
      .picture {
         width: 30%;
      }
      .stream{
         width: 30%;
      }
      .photo{
         display: flex;
         flex-direction: row;
      }
      #take-picture-btn{
         margin-top: 1em;
      }
      
   }
}

@media screen and (max-width: 800px) {
   .container {
      margin-bottom: 5vh;
      height: auto;
      .top-container {
         padding-top: 5vh;

         h1 {
            font-size: 6vw;
            margin: 0;
         }
         .regular{
            display: none;
         }
         .button-back-desktop {
            display: none;
         }

         .button-back-mobile {
            margin-left : 5%;
            display: unset;
            width: 12.75vw;
            height: 12.75vw;
            background-image: url(/assets/icons/arrow_back.svg);
            background-repeat: no-repeat;
            background-color: $blue-color;
            border-radius: 10px;
            background-size: contain;
         }
      }
   
      .main-container {
         height: auto;
         padding-top: 5vh;
         padding-bottom: 5vh; 
         width: 90%;
         align-items: center;
         gap : 5vh;
         
         .input-container {
            align-self: unset;
            width: 100%;
            font-size: 4vw;
            height: 10vh;
         }
   
         button {
            align-self: unset;
            width: 60%;
            height: 4vh;
         }
         .picture {
            width: 90%;
         }
         .photo {
            flex-direction: column;
         }
         .stream {
            width: 90%;
         }
      }
   }
}

a {
   text-decoration: none;
   color: $black-color;
}

a:hover {
   color : $blue-color;
}