<app-navbar></app-navbar>
<div class="container">
   <div class="top-container">
      <button class="button-back-mobile" routerLink="/mykeeping/details"></button>
      <h1>Ajouter photo : <span class="regular">Garde plantes de 09/01/2024 au 17/01/2024 - Patrick Dupont</span></h1>
      <button class="button-back-desktop">Retour</button>
   </div>
   <div class="main-container">
      <div class="input-container">
         <label>Photos :</label>
         <input #inputFile type="file" multiple />
         <button class="button" (click)="clickInputFile()">Ajouter</button>
         <button id="take-picture-btn">Prendre une photo</button>
      </div>
      <div class="photo">
         <img class="picture" #capturedPhoto style="display: none;" />
         <video #videoElement autoplay playsinline class="stream"></video>
      </div>
      <button class="validate">Valider</button>
   </div>
</div>
<app-footer></app-footer>

