<div class="navbar">
   <a class="left-container" [routerLink]="auth.user ? '/welcome' : '/home'">
      <img class="logo" src="assets/images/logo.webp">
      <h1>A-rosa-je</h1>
   </a>
   <fa-icon class="menu-icon" [icon]="barsIcon" size="2x" (click)="openMenu()"></fa-icon>
   <a *ngIf="!auth.user" routerLink="/info" RouterLinkActive="active">Qui sommes-nous ?</a>
   <div class="row" *ngIf="auth.user">
      <a routerLink="/messaging" RouterLinkActive="active">Messagerie</a>
      <a routerLink="/profile" RouterLinkActive="active">Profil</a>
      <a (click)="auth.logout()">Déconnexion</a>
   </div>
</div>
