@import '../../../../styles.scss';

.navbar {
   height: 12vh;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .left-container {
      display: flex;
      align-items: center;

      .logo {
         height: 8vh;
         margin-right: 2vw;
      }

      h1 {
         font-size: 3vh;
      }
   }

   a{
      text-decoration: none;
      font-weight: 600;
      margin: 0;
      padding: 0 3vw;
      color: $blue-color;
      cursor: pointer;
      font-size: 1vw;
   }

   .menu-icon{
      display: none;
   }

   .row{
      display: flex;

      a:not(:last-child) {
         border-right: 2px solid $blue-color; 
      }
   }
      
   @media (max-width: 800px) {
      a, .row{
         display: none;
      }

      .menu-icon{
         padding: 0 3vw;
         height: 8vh;
         width: 8vh;
         display: flex;
         align-items: center;
         justify-content: center;
         color: $blue-color;
      }
   }
}