@import '../../../../../styles.scss';
 

.content-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    h1{
        font-size: 1.5vw;
    }

    .error{
        color: $delete-button;
        font-size: 0.6vw;
    }

    form{
        width: 40%;
        display: flex;
        flex-direction: column;

        .button-container{
            width: 100%;
            height: 12vh;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            a{
                font-size: 0.9vw;
                text-align: center;
            }
        }
    }

    .bottom-link{
        font-size: 1vw;
        text-align: center;
    }
}


@media screen and (max-width: 800px) {
    .container {
        .image-container{
            display: none;
        }

        .text-container {
            margin: 0;
            width: 100%;

            h1 {
                font-size: 6vw;
            }

            form {
                width: 80%;

                .input-container {
                    font-size: 3vw;
                }  
            }

            .button-container {
                width: 80%;

                a {
                    font-size: 3vw;
                }
            }

            .bottom-link {
                font-size: 4vw;
            }
        }
    }

    .btn{
        width: 50vw;
    }
}

a {
    text-decoration: none;
    color: $black-color;
}

a:hover {
    color : $blue-color;
}