<app-page [imagePosition]="'left'" [imageSize]="'medium'" [imageSrc]="'/assets/images/environment.svg'" [top]="false" [loading]="loading">
    <div content class="content-container">
        <h1>Connexion</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-container">
                <label>Adresse email :</label>
                <input type="email" placeholder="Adresse email" [(ngModel)]="login.email" name="email" formControlName="email" (input)="onInput()" />
                <p class="error" *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched) && this.errors['email']">{{this.errors['email']}}</p>
            </div>
            <div class="input-container">
                <label>Mot de passe :</label>
                <input type="password" placeholder="Mot de passe" [(ngModel)]="login.password" name="password" formControlName="password" (input)="onInput()" />
                <p class="error" *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched) && this.errors['password']">{{this.errors['password']}}</p>
                <p class="error" *ngIf="errors['login']">{{this.errors['login']}}</p>
            </div>
            <div class="button-container">
                <a href="">Mot de passe oublié ?</a>
                <app-button [text]="'Connexion'"></app-button>
            </div>
        </form>
        <p class="bottom-link">Vous n'avez pas encore de compte ?<br>
            <a routerLink="/register">Inscrivez-vous !</a>
        </p>
    </div>
</app-page>
