@import '../../../../styles.scss';

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;

    a{
        text-decoration: none;
        color: $black-color;
    }
}

@media screen and (max-width: 800px) {
    p{
        font-size: small;
    }
}