<footer>
    <div class="container">
        <div class="row">
            <a routerLink="/mentions-legale"><p>Mentions légales</p></a>
            <p>&copy; 2024 A-rosa-je.</p>
        </div>
    </div>
</footer>

