<div class="display-flex">
    <div class="parent">
        <div class="container">
            <div class="display-flex align-end">
                <a class="button-back-mobile" routerLink="/myoffers"></a>
                <a id="desktop" class="btn back" routerLink="/myoffers/details">Modifier</a>
                <a class="button-back-mobile modify a-thin fa-pen" routerLink="/myoffers"></a>
                <!-- <a id="desktop" class="btn back" routerLink="/myoffers">Choix gardien</a>
                <a class="button-back-mobile choice" routerLink="/myoffers"></a> choix du gardien à implémenter plus tard-->
                <a id="desktop" class="btn back" routerLink="/myoffers">Noter gardien</a>
                <a class="button-back-mobile rate" routerLink="/myoffers"></a>
                <a id="desktop" class="btn back del" routerLink="/myoffers">Supprimer</a>
                <a class="button-back-mobile delete" routerLink="/myoffers"></a>
                <a id="desktop" class="btn back end" routerLink="/myoffers">Retour</a>
            </div>
            <h1>Garde plantes du 09/01/2024 au 16/01/2024</h1>
            <p><strong>Description :</strong></p>
            <p>Bonjour,
                Je recherche quelqu’un pour garder mes plantes du 9 Janvier au 16 Janvier.
                Elles ont besoin d’etre arosser et choyer.</p>
            <div class="display-flex gap5 border-top border-bottom">
                <div>
                    <p><strong>Types de plantes :</strong></p>
                    <p class="btn white">Cactaceae</p>
                </div>
                <div>
                    <p><strong>Tags :</strong></p>
                    <p class="btn white">Cactus</p>
                </div>
                <div>
                <p><strong>Date de début :</strong>09/01/2024</p>
                <p><strong>Date de fin :</strong>16/01/2024</p>
                </div>
            </div>
            <div class="display-flex">
                <div class="columns">
                <img src="https://www.jacksonandperkins.com/images/xxl/29377.webp?v=0-1"/>
                <br>
                <p class="btn advice"><strong>Philippe</strong>: Pour l'arrosage, un peu d'eau une fois par semaine suffit en été.
                </p>
                </div>
                <div class="columns">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWy3YUavNWBoDcsPo144JMNoeosVAH72No8A&usqp=CAU"/>
                <p class="btn advice"><strong>Philippe</strong>: Pour l'arrosage, un peu d'eau une fois par semaine suffit en été.</p>
                </div>
            </div>
            <div class="display-flex space-between border-top">
                <div class="display-flex col">
                    <p><strong>Adresse :</strong></p>
                
                    <p> France - Ille et Vilaine
                        <br>
                        Rennes 35200
                        <br>
                        1 Rue de Charles de Gaulle - 5ème étage</p>
                    <p><strong>Coordonnées :</strong></p>
                    <p>Bertrand Flantier
                        <br>
                        Téléphone : 06 22 61 78 79
                        <br>
                        Email : bertrandgmail.com</p>
                </div>
                <div class="display-flex col">
                    <p><strong>Localisation des plantes :</strong></p>
                    <app-map></app-map>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>