@import '../../../../styles.scss';

.loading {
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: center;

   .loading-logo {
      width: 5vw;
      height: 5vw;
      background-image: url(/assets/icons/loading.svg);
      background-repeat: no-repeat;
      background-size: contain;
      animation: spin 3s linear infinite;
   }
   
   @keyframes spin {
      0% { 
         transform: rotate(0deg); 
      }
      100% { 
         transform: rotate(360deg); 
      }
   }
}

.container {
   .top-container {
      height: 10vh;
   }

   .main-container {
      display: flex;
      align-items: center;
      position: relative;
      
      .image-container {
         top: 5vh;
         height : 50vh;
         position: absolute;
         background-image: url(/assets/images/environment.svg);
         background-repeat: no-repeat;
         border-radius: 10px;
         background-size: contain;
         background-color: $blue-color;

         &.small {
            width: 35%;
         }

         &.medium {
            width: 45%;
         }

         &.large {
            width: 55%;
         }

         &.right {
            right: -5vw;
         }

         &.left {
            left: -5vw;
         }
      }

      .content-container {
         height: 100%;

         &.small {
            width: 65%;
         }

         &.medium {
            width: 55%;
         }

         &.large {
            width: 45%;
         }

         &.none {
            width: 100%;
         }
      }
   }
}