<div *ngIf="!loading && !error" class="container">
   <div *ngIf="top" class="top-container">
      <ng-content select="[top]"></ng-content>
   </div>
   <div class="main-container" [style.height]="top && page === 'fixed' ? '60vh' : !top && page === 'fixed' ? '70vh' : 'auto'" [style.justify-content]="imagePosition === 'left' ? 'end' : 'start'">
      <div *ngIf="imageSrc && imagePosition === 'left'" [class]="'image-container ' + imageSize + ' ' + imagePosition" [style.background-image]="'url(' + imageSrc + ')'"></div>
      <div [class]="'content-container ' + imageSize + ' ' + imagePosition">
         <ng-content select="[content]"></ng-content>
      </div>
      <div *ngIf="imageSrc && imagePosition === 'right'" [class]="'image-container ' + imageSize + ' ' + imagePosition" [style.background-image]="'url(' + imageSrc + ')'"></div>
   </div>
</div>
<div *ngIf="loading" class="loading">
   <div *ngIf="loading && !error" class="loading-logo"></div>
</div>
<app-error *ngIf="error" [type]="'noDatas'"></app-error>

