@import '../../../../../styles.scss';

.top-container{
   display: flex;
   align-items: center;

   h1{
      width: 55vw;
      margin-left: 15vw;
      text-align: center;
   }
}

.button-back-mobile {
   display: none;
}

.content-container{
   width: 100%;
   height: 100%;
   font-size: 1.1vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;

   .informations {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 25%;

      p {
         width: 50%;

         &.email {
            width: 100%;
         }

         .bold {
            font-weight: bold;
         }
      }
   }
   
   .buttons-container {
      height: 18vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
   }
}

@media screen and (max-width: 800px) {
   .container {
      .top-container {
         h1 {
            font-size: 6vw;
            margin: 0;
         }
   
         .button-back-desktop {
            display: none;
         }

         .button-back-mobile {
            margin-left : 5%;
            display: unset;
            width: 12.75vw;
            height: 12.75vw;
            background-image: url(/assets/icons/arrow_back.svg);
            background-repeat: no-repeat;
            background-color: $blue-color;
            border-radius: 10px;
            background-size: contain;
         }
      }
   
      .main-container {
         height: 75%;
   
         .image-container {
            display: none;
         }
      
         .text-container {
            width: 100%;
            margin: 0;
            height: 100%;
            
            .informations {
               width: 80%;
               height: 50%;
   
               p {
                  width: 100%;
               }
            }
            
            .buttons-container {
               height: 30%;
            }
         }
      }
   }
}

a {
   text-decoration: none;
   color: $black-color;
}

a:hover {
   color : $blue-color;
}