<app-page [top]="true" [page]="'fixed'" imageSrc="/assets/images/hello.svg" imagePosition="right" imageSize="large" [error]="error" [loading]="loading">
   <div top class="top-container">
      <button class="button-back-mobile" routerLink="/welcome" ></button>
      <h1>Mon profil</h1>
      <app-button text="Retour" routerLink="/welcome" ></app-button>
   </div>
   <div content class="content-container">
      <div *ngIf="user" class="informations">
         <p><span class="bold">Prénom : </span>{{user.firstName}}</p>
         <p><span class="bold">Nom : </span>{{user.lastName}}</p>
         <p><span class="bold">Pseudo : </span>{{user.username}}</p>
         <p><span class="bold">Telephone : </span>{{user.phone}}</p>
         <p class="email"><span class="bold">Email : </span>{{user.email}}</p>
      </div>
      <div class="buttons-container">
         <app-button text="Modifier profil" routerLink="/profile/edit"></app-button>
         <app-button [delete]="true" text="Supprimer compte" (click)="deleteAccount()"></app-button>
      </div>
   </div>
</app-page>
