<app-page [top]="true" [page]="'fixed'">
    <div top class="top-container">
        <h1>Qui sommes-nous ?</h1>
        <app-button text="Retour" routerLink="/home"></app-button>
        <a class="button-back-mobile" routerLink="/home"></a>
    </div>
    <div content class="content-container">
        <p>L'entreprise “A'rosa-je” aide les particuliers à prendre soin de leurs plantes.<br>
            Fondée en 1984 elle a tout d'abord été composée d'une petite équipe de botanistes dans une seule ville et est maintenant
            composée de plus de 1500 botanistes répartis sur toute la France qui rendent service aux propriétaires de plantes de deux façons :<br>
        </p>
        <ul>
            <li>En allant garder leurs plantes lorsque les propriétaires sont absents</li>
            <li>En prodiguant des conseils d'entretien afin que les propriétaires s'occupent de mieux en mieux de leurs plantes.</li>
        </ul>
    </div>
</app-page>