@import '../../../../../styles.scss';

.button-back-mobile{
    display: hidden;
}

.top-container{
    display: flex;
    align-items: center;

    h1{
        width: 55vw;
        margin-left: 15vw;
        text-align: center;
    }
}

.content-container{
    font-size: 1vw;

    p{
        margin : 2vh 0;
        line-height: 5vh;
    }

    li{
        line-height: 5vh;
    }
}

@media screen and (max-width: 800px) {
    .btn {
        display: none;
     }

     .button-back-mobile {
        margin-left : 5%;
        display: unset;
        width: 12.75vw;
        height: 12.75vw;
        background-image: url(/assets/icons/arrow_back.svg);
        background-repeat: no-repeat;
        background-color: $blue-color;
        border-radius: 10px;
        background-size: contain;
     }
     h1{
        font-size: medium;
     }
}