<app-page [top]="true" [imageSize]="'none'" [page]="'fixed'">
    <div top class="top-container">
        <h1>Oups !</h1>
        <app-button text="Retour" routerLink="/welcome"></app-button>
    </div>
    <div content class="content-container">
        <p *ngIf="type === 'notFound' || !type">Erreur 404 La page que vous rechercher n'existe pas...</p>
        <p *ngIf="type === 'noDatas'">Une erreur est survenue lors du chargement de la page. <br>Veuillez réessayer ultérieurement.</p>
        <div class="image-error">
        </div>
    </div>
</app-page>