@import '../../../../styles.scss';


.top-container{
   display: flex;
   align-items: center;

   h1{
      font-size: 1.5vw;
      width: 55vw;
      margin-left: 15vw;
      text-align: center;
   }
}
.content-container{
   height: 100%;
   justify-content: space-evenly;
   display: flex;
   flex-direction: column;
   align-items: center;

   .image-error{
      background-image: url(/assets/images/sad-plant.png);
      width: 25vh;
      height: 25vh;
      background-repeat: no-repeat;
      background-size: contain;
   }

   p{
      font-size: 1.2vw;
      text-align: center;}
}
.back{
   align-self: end;
   width: 5vw;
   text-align: center;
}
.button-back-mobile {
   display: none;
}
 

@media screen and (max-width: 800px) {
   .button-back-mobile {
      margin-left : 5%;
      display: unset;
      width: 12.75vw;
      height: 12.75vw;
      background-image: url(/assets/icons/arrow_back.svg);
      background-repeat: no-repeat;
      background-color: $blue-color;
      border-radius: 10px;
      background-size: contain;
      cursor: pointer;
      margin-right: 15em;
   }
   #desktop{
      display: none;
   }
   .image-error{
      width: 30%;
      height: 40vh;
   }
   h1 {
      font-size: 3em;
   }
   p{
      font-size: 2em;
   }
}