<div class="container" *ngIf="!loading">  
   <div class="header">
      <p>{{contact?.username}}</p>
   </div>
   <div class="chat" id="chat">
      <div *ngFor="let msg of messages; let i = index" class="line">
         <div *ngIf="isNewDay(i)" class="day">
            <p>{{msg.sentAt | date:'dd MMMM yyyy'}}</p>
         </div>
         <div class="message-container" [ngClass]="{'contact' : msg.senderUsername !== this.auth.user?.username, 'user' : msg.senderUsername === this.auth.user?.username}">
            <div class="message">
               <p class="content">{{msg.content}}</p>
            </div>
            <p class="date">{{msg.sentAt | date:'HH:mm'}}</p>
         </div>
      </div>

   </div>
   <form class="input" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <div class="input-message">
         <input type="text" [(ngModel)]="message" formControlName="message" placeholder="Message"  (input)="onInput()" (blur)="onBlur()"/>
         <!-- <p class="error"></p> -->
      </div>
      <button type="submit">
         <fa-icon [icon]="['far', 'paper-plane']" class="icon fa-2x"/>
      </button>
   </form>
</div>
<div class="container" *ngIf="loading">
   <div *ngIf="loading && !error" class="loading-logo"></div>
</div>