@import '../../../../styles.scss';

.container {
   width: 100%;
   height: 100%;
   border-radius: 10px;
   background-color: $white-color;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   border: 1px solid $blue-color;

   .header {
      height: 15%;
      font-size: 250%;
      font-weight: 500;
      color : $white-color;
      display: flex;
      align-items: center;
      background-color: $blue-color;

      p {
         margin-left: 2%;
      }
   }

   .loading-logo {
      width: 5vw;
      height: 5vw;
      background-image: url(/assets/icons/loading.svg);
      background-repeat: no-repeat;
      background-size: contain;
      animation: spin 3s linear infinite;
   }
   
   @keyframes spin {
      0% { 
         transform: rotate(0deg); 
      }
      100% { 
         transform: rotate(360deg); 
      }
   }

   .chat {
      height: 70%;
      border-top : 2px solid $blue-color;
      border-bottom : 1px solid $blue-color;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      justify-content: safe flex-end;
      gap : 5%;
      padding: 5% 0;
      scrollbar-width: thin;

      .line {
         display: flex;
         flex-direction: column;

         .day {
            align-self: center;
            color: $black-color;
         }

         .message-container {
            max-width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color : $blue-color;
   
            &.contact {
               align-self: flex-start;
               margin-left: 2%;
               

               .message {
                  border-radius: 10px 10px 10px 0;
                  background-color: $white-color;
                  border: 1px solid $blue-color;
               }
            }
   
            &.user {
               align-self: flex-end;
               margin-right: 2%;
               
               .message {
                  border-radius: 10px 10px 0 10px;
                  background-color: $blue-color;
                  color: $white-color;
               }
   
               .date {
                  text-align: end;
            
               }
            }
   
            .message {
               padding: 0.8vw;
            }
   
            .date {
               font-size: 0.8vw;
               color : $black-color;
            }
         }
      }
   }

   form {
      height: 15%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3%;

      .input-message {
         height: 5vh;
         flex-grow: 1;
         margin-left: 2%;
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;

         input {
            width: 100%;
            height: 5vh;
            border: 1px solid $blue-color;
            border-radius: 10px; 
         }

         input::placeholder {
            color : $blue-color;
         }
      }

      button {
         margin-right: 2%;
         height: 5vh;
         width: 5vh;
         border: none;
         background-color: $white-color;
         border-radius: 10px;
         border: 1px solid $blue-color;

         .icon {
            color: $blue-color;
         }
      }

      button:hover {
         cursor: pointer;
         background-color: $blue-color;

         .icon {
            color: $white-color;
         }
      }
   }
}