@import '../../../../styles.scss';

.top-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.images-container{
   width: 80vw;
   display: flex;
   padding: 5vh 2vw;
   gap: 2vw;
   overflow-x: scroll;
   scrollbar-color: $white-color transparent;
   scrollbar-width: thin;
   background-color: $brown-color;
   border-radius: 2px;

   .rm{
      background-image: url('/assets/icons/white_cross.svg');
      background-color: $delete-button-hover;
      background-size: contain;
      border-radius: 5px;
      width: 2vw;
      height: 2vw;
      border: none;
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
   }
   
   .rm:hover{
      background-color: $delete-button;
      cursor: pointer;
   }
   
   .camera-container{
      width: 20vw;
      height: 20vw;
      position: relative;
      border : 5px solid $white-color;
      border-radius: 5px;

      .capture {
         z-index: 1;
         position: absolute;
         bottom: 5%;
         right: 8vw;
         width: 3.5vw;
         height: 3.5vw;
         background-image: url('/assets/icons/picture.svg');
         background-size: contain;
         background-color: $blue-color;
         border-radius: 50px;
         border: none;
      }

      .capture:hover{
         background-color: $valid-button;
         cursor: pointer;
      }

      video {
         object-fit: cover;
         width: 20vw;
         height: 20vw;
      }
   }

   .buttons-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 20vw;
      width: 20vw;
   }

   .image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap : 2vh;
      min-width: 20vw;

      .image{
         border-radius: 5px;
         height: 20vw;
         width: 100%;
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center;
         border : 5px solid $white-color;
         position: relative;
         background-color: $white-color;
      }

      .tile {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 5px;
         height: 5vh;
         background-color: $white-color;
         filter: drop-shadow(2px 6px 2px $shadow-color);
         padding: 1vh 0.5vw;
         font-size: 0.9vw;
         text-align: center;
      }
   }
}
