<app-page [top]="true" [page]="'scroll'" [imageSize]="'none'" [loading]="loading" [error]="error">
   <div top class="top-container">
      <h1>{{title}}</h1>
      <app-button *ngIf="validate" text="Valider" (click)="validatePictures()"></app-button>
   </div>
   <div content class="images-container" [style.justify-content]="showButtons && pictures.length < 1 ?  'center' : ''">
      <div *ngIf="showButtons && editable" class="buttons-container">
         <input [style.display]="'none'" #inputFile type="file" multiple accept="image/*" (input)="addPictures()">
         <app-button text="Prendre des photos" (click)="showButtons = false; startCamera()"></app-button>
         <app-button text="Ajouter" class="addpicture" (click)="clickInputFile()">Ajouter</app-button>
         <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
      </div>
      <div *ngIf="!showButtons && editable" class="camera-container">
         <button class="rm" (click)="stopCamera(); showButtons = true"></button>
         <video #camera></video>
         <button class="capture" (click)="takePictureWithLocation()"></button>
      </div>
      <div *ngFor="let picture of pictures, let i = index" class="image-container">
         <div class="image" [style.background-image]="processURL(picture.image)">
            <button *ngIf="editable" class="rm" (click)="rmPicture(i)"></button>
         </div>
         <div class="tile" *ngFor="let advice of picture?.advices?.slice(0, 5)">
            <p>{{advice.content}}</p>
         </div>
         <app-button *ngIf="button" width="20vw" text="Commenter" (click)="clickComment(picture.id!)"></app-button>
      </div>
   </div>
</app-page>
