<app-page [top]="true" [page]="'fixed'" imageSrc="/assets/images/hello.svg" imagePosition="right" imageSize="large" [error]="error" [loading]="loading">
   <div top class="top-container">
      <button class="button-back-mobile" routerLink="/welcome" ></button>
      <h1>Profil de {{user?.username}}</h1>
      <app-button text="Retour" routerLink="/welcome"></app-button>
   </div>
   <div content class="content-container">
      <div *ngIf="user" class="informations">
         <p><span class="bold">Prénom : </span>{{user.firstName}}</p>
         <p><span class="bold">Nom : </span>{{user.lastName}}</p>
         <p><span class="bold">Pseudo : </span>{{user.username}}</p>
         <p><span class="bold">Telephone : </span>{{user.phone}}</p>
         <p class="email"><span class="bold">Email : </span>{{user.email}}</p>
      </div>
      <div *ngIf="keepedPlants" class="scroll-container">
         <h2>Plantes anciennement gardés :</h2>
         <div class="scroll" [style.justify-content]="keepedPlants.length < 1 ? 'center' : 'baseline'">
            <p *ngIf="keepedPlants.length < 1">Pas encore de plantes gardées</p>
            <div *ngFor="let plant of keepedPlants" class="tile" [routerLink]="'/offers/details/' + plant.idOffer">
               <p class="title">{{plant.name}}</p>
               <p>Du {{plant.start | date:'dd/MM/yyyy'}} au {{plant.end | date:'dd/MM/yyyy'}}</p>
            </div>
         </div>
      </div>
      <div *ngIf="actualPlants" class="scroll-container">
         <h2>Plantes actuellement gardés :</h2>
         <div class="scroll" [style.justify-content]="actualPlants.length < 1 ? 'center' : 'baseline'">
            <p *ngIf="actualPlants.length < 1">Pas de plantes gardées en ce moment</p>
            <div *ngFor="let plant of actualPlants" class="tile" [routerLink]="'/offers/details/' + plant.idOffer">
               <p class="title">{{plant.name}}</p>
               <p>Du {{plant.start | date:'dd/MM/yyyy'}} au {{plant.end | date:'dd/MM/yyyy'}}</p>
            </div>
         </div>
      </div>
      <div *ngIf="user && user.offersPublisher" class="scroll-container">
         <h2>Demandes de gardiennage :</h2>
         <div class="scroll">
            <p *ngIf="user.offersPublisher.length < 1">Pas de demandes pour le moment</p>
            <div *ngFor="let offer of user?.offersPublisher" [routerLink]="'/offers/details/' + offer.id" class="tile">
               <p class="title">{{offer.title}}</p>
            </div>
         </div>
      </div>
   </div>
</app-page>