@import '../../../../../styles.scss';
.top-container{
   display: flex;
   align-items: center;

   h1{
      width: 55vw;
      margin-left: 15vw;
      text-align: center;
   }
}

.button-back-mobile {
   display: none;
}

.content-container{
   width: 100%;
   height: 100%;
   font-size: 1.1vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

   .informations{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 20%;

      p{
         width: 50%;

         &.email{
            width: 100%;
         }

         .bold{
            font-weight: bold;
         }
      }
   }

   .scroll-container{
      display: flex;
      flex-direction: column;
      height: 25%;
      width: 100%;

      h2{
         font-size: 1vw;
      }

      .scroll{
         height: 100%;
         display: flex;
         gap : 1vw;
         overflow-x: scroll;
         align-items: center;
         scrollbar-color: $brown-color transparent;
         scrollbar-width: thin;

         .tile{
            background-color: $blue-color;
            min-height: 100%;
            min-width: 5vw;
            max-width: 10vw;
            border-radius: 5px;
            color : white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: 0 0.3vw;
            word-break: break-all;

            p{
               font-size: 0.7vw;
               text-align: center;

               &.title{
                  font-weight: bold;
                  font-size: 0.8vw;
               }
            }
         }

         .tile:hover{
            background-color: $valid-button;
            cursor: pointer;
         }
      }
   }
}

.button-back-mobile {
   display: none;
}
         
@media screen and (max-width: 800px) {
   .container {
      height: auto;
      margin-bottom: 5vh;

      .top-container {
         padding-top: 5vh;

         h1 {
            font-size: 6vw;
            margin: 0;
         }
   
         .button-back-desktop {
            display: none;
         }

         .button-back-mobile {
            margin-left : 5%;
            display: unset;
            width: 12.75vw;
            height: 12.75vw;
            background-image: url(/assets/icons/arrow_back.svg);
            background-repeat: no-repeat;
            background-color: $blue-color;
            border-radius: 10px;
            background-size: contain;
         }
      }
   
      .main-container {
         height: auto;
         padding-top: 5vh;
         padding-bottom: 5vh; 
   
         .image-container {
            display: none;
         }
      
         .text-container {
            width: 100%;
            margin: 0;
            height: 100%;
            align-items: center;
            gap: 5vh;
            
            .informations {
               width: 90%;
               height: 50%;
               gap : 3vh;
   
               p {
                  width: 100%;
                  font-size: 5vw;
               }
            }
            
            .plants-container {
               width: 90%;

               h2 {
                  font-size: 4vw;
               }

               .scroll-plants {
                  
                  .plant {
                     min-width: 30vw;
                     min-height: 30vw;
                     border-radius: 5px;
                     justify-content: space-evenly;

                     p {
                        font-size: 3vw;
                     }
                  }
               }
            }
         }
      }
   }
}

a {
   text-decoration: none;
   color: $black-color;
}

a:hover {
   color : $blue-color;
}