@import '../../../../../styles.scss';

.content-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    p{
        font-size: 1vw;
    }
}

@media screen and (max-width: 800px) {
    .parent {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn{
        width: 50vw;
    }

    .image-container{
        display: none;
    }

    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "text-container";
    }
}

.btn{
    margin: 3vh 0;
}