<app-page  [imagePosition]="'right'" [imageSize]="'large'" [imageSrc]="'/assets/images/gardening.svg'" [top]="false">
    <div content class="content-container">
        <h1>Bienvenue sur A-rosa-je</h1>
        <p>Vous n'êtes pas chez vous ?<br>Prenez soin de vos plantes</p>
        <app-button text="Se connecter" routerLink="/login"></app-button>
        <app-button text="S'inscrire" routerLink="/register"></app-button>
    </div>
</app-page>
