<app-page [top]="true" [page]="'fixed'" [imageSize]="'none'">
    <div top class="top-container">
        <app-button text="Mes offres" routerLink="/myoffers"></app-button>
        <app-button text="Mes gardiennages" routerLink="/mykeeping"></app-button>
        <app-button text="Créer une offre" routerLink="/offers/add"></app-button>
    </div>
    <div content class="content-container">
        <div class="image-container"></div>
        <app-button width="20vw" text="Les offres" routerLink="/offers"></app-button>
    </div>
</app-page>
