@import '../../../../../styles.scss';

.top-container {
    display: flex;
    justify-content: space-between;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

    .image-container {
        height: 70%;
        width: 60%;
        background-image: url(/assets/images/hello.svg);
        background-repeat: no-repeat;
        background-color: $blue-color;
        background-position: center;
        border-radius: 10px;
        background-size: contain;
        filter: drop-shadow(2px 6px 2px $shadow-color);
    }
}




@media screen and (max-width: 800px) {
    .parent {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 2vh;
    }

    .btn{
        width: 50vw;
    }

    .image-container{
        display: none;
    }

    .container {
        display: flex;
    }
    .display-flex{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.btn{
    margin: 3vh 0;
    text-align: center;
}