@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
$blue-color: #709A99;
$brown-color: #D4C3B4;
$light-brown-color: #E6DEC9;
$black-color: #252525;
$white-color: #FAFAFA;
$grey-color: #acacac;

$shadow-color: #25252550;
$valid-button:  #57B894;
$delete-button: #D70000;
$delete-button-hover: rgb(186, 103, 103);

body {
   margin: 0;
   padding: 0;
   font-family: "Alef";
   color: $black-color;
}

p, h1, h2{
   margin : 0;
   padding: 0;
}

.input-container{
   display: flex;
   flex-direction: column;
   min-height: 11vh;
   overflow: hidden;
   margin-bottom: 1vh;
   font-size: 1vw;

   input{
      min-height: 3.5vh;
   }

   input:invalid{
      border: 1px solid $delete-button;
   }
}

form{
   .error{
      color: $delete-button;
      font-size: 0.6vw;
   }
}

