@import '../../../../../../styles.scss';

.parent {
    width: 90vw;
    background-color: $light-brown-color;
    border-radius: 10px;
    padding: 2vw;
    filter: drop-shadow(2px 6px 2px $shadow-color);
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

.image-container {
    width: 15vw;
    padding: 30%;
    margin: 0.5em 4rem;
    background-image: url(/assets/images/upload.svg);
    background-repeat: no-repeat;
    background-color: $blue-color;
    border-radius: 10px;
    background-size: contain;
    grid-area: image-container;
    filter: drop-shadow(2px 6px 2px $shadow-color);
}
.image-container-second{
    width: 15vw;
    padding: 30%;
    margin: 0.5em -4rem;
    background-image: url(/assets/images/location.svg);
    background-repeat: no-repeat;
    background-color: $blue-color;
    border-radius: 10px;
    background-size: contain;
    grid-area: image-container;
    filter: drop-shadow(2px 6px 2px $shadow-color);
}
.input-container{
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}
.text-container{
    grid-area: text-container;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.display-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.col{
    flex-direction: column;
}

.container {
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: "text-container image-container";
}

.mobile{
    display: none;
}
.btn{
    margin: 3vh 0;
    text-align: center;
}
.back{
    width: 10vw;
    margin: 0.5em;
}
.del{
    background-color: $delete-button;
}
.validate{
    background-color: $valid-button;
}
.white{
    background-color: $white-color;
    border: 1px solid black; 
    color: black;
    width: auto;
    filter:none;
    margin-right: 0.5em;
}
.end {
    margin-left: 20em;
}
.iframe{
    width:55%;
    height:30vh;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.gap5{
    gap:5em;
}
.dekstop{
    margin-left: 42em;
}
img{
    width: 25vw;
    height: 40vh;
    border-radius: 5px;
}
.mobile{
    display: flex;
}
.border-top{
    border-top: solid 1px;
}
.border-bottom{
    border-bottom: solid 1px;
}
.columns{
    flex-direction: column;
    margin-right: 1em;
    margin-top: 3%;
}
@media screen and (max-width: 800px) {
    .parent {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 0.5em;
    }

    .btn{
        width: 50vw;
    }
    
    .image-container{
        display: none;
    }
    .image-container-second{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .container-second{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "text-container";
    }
    .input-container{
        display: flex;
        flex-direction: column;
    }
    .back{
        width: 35vw;
    }
    .computer{
        display: none;
    }
    .mobile{
        display: flex;
        justify-content: space-between;
    }
    .display-flex{
        flex-direction: column;
    }
    .back{
        margin: 0;
        margin-bottom: 5%;
        align-self: end;
    }
    .align-end{
        align-items: end;
    }
    img{
        width: 100%;
    }
    .dekstop{
        display: none;
    }
    .button-back-mobile {
        margin-left : 5%;
        display: unset;
        width: 12.75vw;
        height: 12.75vw;
        background-image: url(/assets/icons/arrow_back.svg);
        background-repeat: no-repeat;
        background-color: $blue-color;
        border-radius: 10px;
        background-size: contain;
        cursor: pointer;
     }
}


a{
    text-decoration: none;
    color: $black-color;
}