<div class="search-container">
   <div class="searchbar-container" [style.align-self]="barPosition">
      <input class="search-bar" type="text" placeholder="Rechercher..." [(ngModel)]="search" (input)="onSearch()">
      <div (document:click)="results=[]; search=''">
         <p class="result" *ngFor="let res of results" (click)="addTag(res)">{{res.name}}</p>
      </div>
   </div>
   <p *ngIf="error" class="error">{{error}}</p>
   <div class="tags-container">
      <div class="tag" *ngFor="let tag of tags" (click)="removeTag(tag)">
         <p>{{tag.name}}</p>
         <div></div>
      </div>
   </div>
</div>
