@import '../../../../styles.scss';

.search-container {
   min-width: 20vw;
   display: flex;
   flex-direction: column;

   .tags-container{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap : 2%;
      margin-top: 5vh;
   
      .tag{
         display: flex;
         align-items: center;
         justify-content: space-between;
         border-radius: 5px;
         min-width: 20%;
         height: 5vh;
         background-color: $white-color;
         filter: drop-shadow(2px 6px 2px $shadow-color);
         padding: 0 0.5vw;
         cursor: pointer;
         margin-bottom: 2vh;
   
         div{
            background-image: url(/assets/icons/cross.svg);
            height: 3.5vh;
            width: 3.5vh;
            background-repeat: no-repeat;
            background-size: contain;
         }
      }
   
      .tag:hover{
         background-color: $delete-button-hover;
         color: $white-color;
   
         div{
            background-image: url(/assets/icons/white_cross.svg);
         }
      }
   }
   
   .searchbar-container{
      align-self: center;
      width: 70%;
      display: flex;
      flex-direction: column;
      position: relative;
   
      .search-bar{
         width: 98%;
         height: 5vh;
         border-radius: 2px;
         border: none;
         padding: 0 0 0 2%;
      }
   
      .search-bar:focus{
         outline: none;
      }
   
      div{
         position: absolute;
         top: 5vh;
         width: 100%;
         display: flex;
         flex-direction: column;
         z-index: 1;
   
         .result {
               background-color: $white-color;
               height: 3.5vh;
               cursor: pointer;
               padding-top: 0.1vh;
               padding-left: 2%;
         }
   
         .result:hover{
               background-color: $blue-color;
               color: $white-color;
         }
      }
   }
}
