@import '../../../../../styles.scss';

.top-container{
   display: flex;
   align-items: center;

   h1{
      width: 55vw;
      margin-left: 15vw;
      text-align: center;
   }
}

.content-container {
   display: flex;
   justify-content: space-between;
   height: 100%;

   .input-container {
      width: 45%;
      display: flex;
      flex-direction: column;
      gap : 10%;

      textarea {
         height: 20vh;
         resize: none;
      }

      app-button {
         align-self: center;
      }
   }

   .offer-container {
      border-radius: 10px;
      background-color: $white-color;
      padding: 1vw;
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 5%;
   }
}

.button-back-mobile {
   display: none;
}

@media screen and (max-width: 800px) {
   .container {
      .top-container {
         h1 {
            font-size: 6vw;
            margin: 0;
         }
   
         .button-back-desktop {
            display: none;
         }

         .button-back-mobile {
            margin-left : 5%;
            display: unset;
            width: 12.75vw;
            height: 12.75vw;
            background-image: url(/assets/icons/arrow_back.svg);
            background-repeat: no-repeat;
            background-color: $blue-color;
            border-radius: 10px;
            background-size: contain;
         }
      }
   }
}

a {
   text-decoration: none;
   color: $black-color;
}

a:hover {
   color : $blue-color;
}