<app-page [top]="true" [page]="'fixed'">
   <div top class="top-container">
      <button class="button-back-mobile" routerLink="/welcome" ></button>
      <h1>Nouveau message</h1>
      <app-button text="Retour" routerLink="/welcome" ></app-button>
   </div>
   <form content class="content-container" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <div class="input-container">
         <h2>Envoyer un message à {{offer?.publisher?.firstName}} {{offer?.publisher?.lastName}} :</h2>
         <textarea placeholder="Votre message..." [(ngModel)]="message" name="rating" formControlName="advise" (input)="onInput()"></textarea>
         <p class="error" *ngIf="messageForm.invalid && (messageForm.dirty || messageForm.touched) && this.errors['advise']">{{this.errors['advise']}}</p>
         <app-button text="valider" type="submit"></app-button>
      </div>
      <div class="offer-container">
         <h2>Résumé de l'annonce :</h2>
         <p>{{offer?.title}}</p>
         <p>A partir du {{offer?.startDate | date:'dd/MM/yyyy'}}</p>
         <p>Plantes : <span *ngFor="let plant of offer?.plants; let i = index">{{plant.name}}{{i === (offer?.plants?.length ?? 0) - 1 ? "" : ", "}}</span></p>
         <p>Description : {{offer?.description}}</p>
      </div>
   </form>
</app-page>