<app-page [top]="true" [page]="'fixed'" [imagePosition]="imagePosition" [imageSize]="'medium'" [imageSrc]="'/assets/images/upload.svg'" [loading]="loading" [error]="error">
   <div top class="top-container">
      <button class="button-back-mobile" routerLink="/welcome"></button>
      <h1 *ngIf="imagePosition === 'right'">{{title}}</h1>
      <app-button *ngIf="addButton" text="Ajouter" routerLink="/offers/add"></app-button>
      <app-button text="Retour" routerLink="/welcome"></app-button>
      <h1 *ngIf="imagePosition === 'left'">{{title}}</h1>
   </div>
   <div content class="content-container">
      <app-search-tags *ngIf="allTags && searchBar" [allTags]="allTags" (tagsChange)="filterByTags($event)"></app-search-tags>
      <div class="offers-container" >
         <app-button *ngFor="let offer of offers" [routerLink]="['/offers/details/', offer.id]" [text]="offer.title" width="100%"></app-button>
      </div>
   </div>
</app-page>