@import '../../../../styles.scss';

.top-container{
   display: flex;
   align-items: center;
   justify-content: space-between;

   h1 {
      width: 55%;
      text-align: center;
   }
}

.content-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1vw;
   height: 100%;
   
   app-search-tags{
      width: 100%;
      border-bottom: 2px solid $brown-color;
   }

   .offers-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5vh;
      height: 100%;
      width: 100%;
      padding-top: 5vh;
      overflow-y: scroll;
      scrollbar-color: $brown-color transparent;

      app-button{
         width: 70%;
      }
   }
}

.button-back-mobile {
   display: none;
}

#mobile{
   display: none;
}
#search{
   width: 70%;
   height: 3vh;
}
.option{
   background-color: white;
   height: 3vh;
   cursor: pointer;
}

@media screen and (max-width: 800px) {
   .parent {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .btn{
      width: 50vw;
   }
   
   .image-container{
      display: none;
   }

   .container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: "text-container";
   }
   .back{
      width: 15vw;
   }
   .buttons{
      display: flex;
      flex-direction: column;
   }
   .button-back-mobile {
      margin-left : 5%;
      display: unset;
      width: 12.75vw;
      height: 12.75vw;
      background-image: url(/assets/icons/arrow_back.svg);
      background-repeat: no-repeat;
      background-color: $blue-color;
      border-radius: 10px;
      background-size: contain;
      align-self: start;
      cursor: pointer;
   }
   #desktop{
      display: none;
   }
   .mobile-title{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 5%;
   }
   h1{
      font-size: medium;
      margin: 0;
      margin-right: 35%;
   }


}


a{
   text-decoration: none;
   color: $black-color;
}